body {
    margin: 0;
    overflow: hidden;
    background: rgb(55, 100, 144);
}

/* canvas {
    position: relative;
    width: 100vw;
    height: 100vh;
} */

.welcomeSign {
    font-size: 72px;
    position: absolute;
}

